before_script:
  - "export PATH=$PATH:/usr/local/bin"
  - "export PROJECT_DIR=/var/www/unkata-ui"
  - "export BUILD_DIR=~/unkata-ui"

  # Information
  - "whoami"
  - "echo \"Current location:\" `pwd`"

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    # Clear old source
    - "rm -rf ${BUILD_DIR}"
    # Copy project
    - "mkdir ${BUILD_DIR}"
    - "cp -r `pwd`/* ${BUILD_DIR}/"
    - "cp -r `pwd`/.git ${BUILD_DIR}/"
    - "cd $BUILD_DIR"
    # Start build
    - "docker-compose build"
  tags:
    - staging

test:
  stage: test
  script:
    - "cd $BUILD_DIR"
    - "docker-compose run webtest"
  tags:
    - staging

deploy:
  stage: deploy
  script:
    - "cd ${PROJECT_DIR}"
    - "cp -R ${BUILD_DIR}/docker-compose.yml ./"
    ## Stop application
    - "docker-compose down"
    ## Start application
    - "docker-compose up -d web"
  only:
    - master
  tags:
    - staging

